@section Styles {
    <link href="/css/catalog.css" rel="stylesheet">}

<h2 style="color:blue">Our Amazing Catalog</h2>

<div id="catalogContainer">
    
</div>



@section Scripts {
    <script src="/js/catalog.js"></script>
}